.Main
  %section.FormArea
    = form_with model: @item, local:true do |f|
      %h2.FormArea__title
        新規商品出品フォーム
      .FormArea__input

        .FormArea__input__images
          %h3.Subtitle
            出品画像
            %span.Require 必須
          %p 最大10枚までアップロードできます
          #image-box-1
            .item-num-0#image-box__container
              = f.fields_for :images do |i|
                .InputImages
                  = i.file_field :src, type: 'file', name: "item[images_attributes][][src]", value:"", id:"img-file"#, style: "display:none"
                  %label{for: "img-file"}
                    = icon('fas', 'camera')
        .FormArea__input__name
          .Subtitle
            %label
              商品名
              %span.Require 必須
            %div
              = f.text_field :name, placeholder:"商品名（必須 40文字まで)",class: "NameInput"

        .FormArea__input__submitBtn
          %div
            = f.submit "出品する",class: "BlueBtn"